.outerContainer {
  position: fixed;       
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;       
  padding: 2% 5% 2% 4%;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  // background-color:rgb(32, 139, 139);
  // z-index: -2;
  
    .desktop {
      display: flex;
      justify-content: flex-end;
      gap: 3rem;
      align-items: flex-end;
      color: #ffffff;
      font-size: 1.2rem;
  
      a {
        cursor: pointer;
        color: white;
        text-decoration: none;
        transition: color 0.3s ease;
  
        span {
          transition: color 0.3s ease;
        }
  
        &:hover span {
          color: aqua;
        }
      }
    }
  
    .mobile {
  
      .hamburgerIcon {
        cursor: pointer;
      }
    }
  }
  
  @media screen and (max-width: 950px) {
    .outerContainer {
      justify-content: center;
    }
  }
  

  @media screen and (max-width: 768px) {
    .outerContainer {
      display: flex;
      justify-content: flex-end;
  
      .desktop {
        display: none;
      }
  
      .mobile {
        display: block;
      }
    }
  }
  