.outerContainer{
    padding: 5% 5% 4% 4%;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    
    >div{
        display: flex;
    justify-content: flex-end;
    gap: 3rem;
align-items: flex-end;
    color: #ffffff;
    font-size: 1.2rem;
        >span{
            cursor: pointer;
        }
        >span:hover{
            color: aqua;
        }
        
    }


}