.outerContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 15rem;
    padding: 2rem;
    gap: 1.8rem;
    >div{
   >p{     display: flex;
        flex-direction: column;
        gap: 0.3rem;
        .stats{
            font-size: clamp(1.5rem, 2vw, 2rem);
            font-family: "Anton";
            font-weight: bold;
            color: aqua;
        }
        .subTitle{
            font-size: 1rem;
            color: #d2d1d1
        }

   }
    }
}

@media screen and (max-width: 768px){
    .outerContainer{
       align-items: center;
       flex-direction: row;
       margin-left: 5rem;
       margin-bottom: 11rem;

       >div >p{
        align-items: center;
       }
    }
}

@media screen and (max-width: 592px){
    .outerContainer{
        padding-left: 2rem;
    }
}

@media screen and (max-width: 518px){
    .outerContainer{
        padding-left: 0rem;
    }
}