.outerContainer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  // padding-top: 8%;
  // padding-bottom: 10%;

  > div {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-content: flex-end;
    gap: 2rem;

    > div {
      display: flex;
      flex-direction: column;
      gap: 0.3rem;
      color: #ffffff;
      > span {
        font-family: "Roboto";
        font-size: clamp(2.5rem, 4vw, 4rem);
        font-weight: bold;
      }
      > p {
        display: flex;
        width: 60%;
        font-size: 1.1rem;
        color: #d2d1d1;
      }
      .colorChange {
        color: #00ffff;
      }
    }
    .buttonContainer {
      > a > button {
        padding: 0.7rem 1rem;
        font-family: "Roboto";
        font-weight: bold;
        font-size: 1rem;
        background: linear-gradient(to top, aqua 50%, azure 50%);
        background-size: 100% 200%;
        background-position: bottom;
        cursor: pointer;
        transition: background-position 0.4s ease;

        &:hover {
          background-position: top;
          color: #d2d1d1;
        }
      }
    }
  }


}
@media screen and (max-width: 1080px){
  .outerContainer{
    padding-top : 11%;
  }
}

@media screen and (max-width: 768px) {
  .outerContainer {
    justify-content: center;
    padding-top: 9%;

    > div {
      width: 70%;
      > div > p {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 567px){
  .outerContainer{
    padding-top: 30%;
  }
}

@media screen and (max-width:525px){
    .outerContainer > div{
        width: 80%;
    }
}



@media screen and (max-width: 325px) {
  .outerContainer > div{
width: 100%;
   > div  {
    >span {
      font-size: 1.5rem;
    }
    >p{
        font-size: 1rem;
    }
}
  }
}
