.outerContainer{
    display: flex;
    flex-direction: column;
    gap: 0.6rem;

    >.title{
        font-size: clamp(1.5rem, 2.5vw, 2.5rem);
        font-family: "Anton";
        font-weight: bold;
    }
    .company , .time {
        color: #d2d1d1 ;
    } 
    
}