.outerContainer {
    padding: 3rem 15rem 3rem 10rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;

    >.emailId{
        font-family: "Anton";
        font-size: clamp(1.5rem, 2vw, 2rem);
        font-weight: bold;

        &:hover {
            text-decoration: underline;
          }
    }
    >.copyright{
     color: #a7a5a5;
     font-size: 0.9rem;
    }
  }

  @media screen and (max-width: 820px){

    .outerContainer{
        padding: 3rem 0rem 3rem 0rem;
    }
  }

  @media screen and (max-width: 400px){

    .outerContainer {
    >.emailId{
      font-size: 1.3rem;


    }
    >.copyright{
      font-size: 0.8rem;
    }
  }
  }

  @media screen and (max-width: 325px){
    .outerContainer {
      >.emailId{
        font-size: 1rem;
      }
    }
  }

  

// stats position in 1440px --done
// loading screen when any user comes on the website -- change it to name -- done
// load items on page scroll (animations) -- done
// sidebar add items  -- done
// progress bar on the right side to track -- done
//update fonts 
// about section padding -- done
// show cursor on the whole page -- done
// menu in page navigation -- in progress